.contents{
    background-color: black;
    color: black;
}
img{
    height:100vh; /*画像サイズ指定*/
    width: 500px;
    margin: 0 0 0 0;
}

.flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    width: 500px;
    height:100vh; /*画像サイズ指定*/
  }
  .flex .text {
    margin : 5% 5% 5% 5%;
    text-align: center;
    font-size: 70px;
height:100px;
width: 500px;
background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
box-shadow: 0px 0px 0px 10px #ffae4c;
border: 2px dashed #fff;
    font-family: 'Noto Serif JP', serif;
  }

 